@model Q4CsvParser.Web.Models.FormattedDisplayModel

@{
    ViewBag.Title = "Formatted Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data from <strong>@Model.OriginalFileName</strong></h2>

<table class="table">

    @if (Model.CsvTable.HeaderRow != null)
    {
        <thead>
            <tr>
                @foreach (var column in Model.CsvTable.HeaderRow.Columns)
                {
                    <th scope="col">@column</th>
                }
            </tr>
        </thead>
    }

    
    <tbody>
        @foreach (var row in Model.CsvTable.Rows)
        {
            <tr>
                @foreach (var column in row.Columns)
                {
                    <td>@column</td>
                }
            </tr>
        }
    </tbody>

</table>