@model Q4CsvParser.Web.Models.FormattedDisplayModel

@{
    ViewBag.Title = "Formatted Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data from <strong>@Model.OriginalFileName</strong></h2>

@* TODO Fill in the logic to create a view here *@

